#test {
    width: 100%;
    height: fit-content;
    display: flex;
}

#control {
    width: 400px;
    height: fit-content;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#content {
    width: 100px;
    height: 200px;
    background-color: pink;
}

.menuitem {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-radius: 0;
    background-color: white;
    font-size: 20px;
    color: black;
    border: 0;
    text-align: left;
}

.menuitem:hover {
    background-color: rgb(244, 244, 244) !important;
    color: black !important;
}

.menuitem:active {
    outline: none !important;
    box-shadow: none !important;
}

.profilelabel {
    font-size: 20px;
    font: bold;
}